$body-color: #2d3a40;
$input-border-color: #e7e9ec;
$custom-select-color: $input-border-color;
$input-placeholder-color: $input-border-color;

$form-feedback-valid-color: #e7e9ec;
$form-feedback-invalid-color: #f0175c;

$form-feedback-icon-valid:  str-replace(none);
$form-feedback-icon-invalid: str-replace(none);

@import "../../node_modules/bootstrap/scss/bootstrap";
