.header-nav {
  @extend .navbar;
  @extend .navbar-light;
  @extend .bg-light;
  @extend .border-bottom;
  border-color: rgba(45, 58, 64, 0.1) !important;
  &__container {
    @extend .container;
      & > a {
        @extend .navbar-brand
      }
  }
}

.form-business-signup {
  @extend .mx-auto;

  max-width: 620px;

  input, button, select {
    box-shadow: none !important;
  }

  &__text {
    @extend .text-center;
    @extend .my-5;

    > h1 {
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 0.0125rem;
      margin-bottom: 1.5rem !important;
    }

    > p {
      font-size: 0.875rem;
    }

    @include media-breakpoint-up(md) {
      > h1 {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.0125rem;
        margin-bottom: 1.5rem !important;
      }

    }
  }

  &__inputs {
    @extend .bg-white;
    @extend .border;
    @extend .p-4;

    &__wrapper {
      @extend .form-group;
      @extend .input-group;

      input, select {
        @extend .form-control;
        border-radius: 3px !important;
      }

      &--prepend {
        @extend .input-group-prepend;

        > button {
          @extend .btn;
          @extend .btn-outline-secondary;
          @extend .dropdown-toggle;
          @extend .pr-4;

          border-color: #e7e9ec;

          &:hover,
          &:focus {
            background: transparent;
            border-color: #e7e9ec;
            color: #e7e9ec;
          }
        }
      }

      &--footer {
        @extend .text-center;

        > button {
          @extend .py-2;
          @extend .px-3;
          @extend .mb-4;
          @extend .btn;

          background: #14e298;
          color: #FFFFFF;
          font-weight: bold;
          font-size: 0.925rem;

          &:hover {
            background: #23f7ab;
            color: #FFFFFF;
          }
          &:focus {
            background: transparent;
            color: #23f7ab;
            border: 2px solid #23f7ab;
          }
        }
      }

      @include media-breakpoint-up(md) {
        & {
          margin-right: auto;
          margin-left: auto;

          width: 60%;
        }
      }
    }
  }

  &__alert {
    @extend .alert;
    @extend .text-center;
    @extend .d-none;

    font-size: 0.825rem;
    background: #f5f7fa;
  }
}

.footer {
  @extend .border-top;
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-md-row;
  @extend .py-3;
  @extend .mt-5;

  a {
    @extend .py-1;

    color: #748296;

    @include media-breakpoint-up(md) {
      & {
        margin: 0.5rem 1rem;
      }
    }
  }
}
/* Validation */
.invalid-feedback {
  margin: -2px 0 0 0;

  > div {
    background: $form-feedback-invalid-color;
    color: #FFFFFF;
    padding: 0.24rem 1rem !important;
    border-radius: 0 0 4px 4px;
    width: 80%;
  }
}
