@import "../../node_modules/bootstrap-float-label/bootstrap-float-label.css";

@import "custom";
@import "helpers";
@import "formsingup";

body {
  background: url("/assets/images/bg-component-illustration.svg") #F5F7FA bottom right;
  background-repeat: repeat-x;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}
